<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
    <context:annotation-config/>
    <context:component-scan base-package="com.biierg.spider"/>
    
	<context:property-placeholder location="file:./etc/profile.properties"/>
    
    <!-- kafka producer -->
    <bean id="kfkProducer" class="com.biierg.spider.mq.impl.KfkProducer"
    	init-method="start" destroy-method="destroy">

        <property name="servers" value="${kafka.servers}"/>
        <property name="topicName" value="${kafka.topicname}"/>
    </bean>
    
    <!-- redis -->
	<bean id="redisCache" class="com.biierg.spider.cache.impl.RedisCache" 
		init-method="connect">
		
		<property name="redisHost" value="${redis.host}"></property>
		<property name="redisPort" value="${redis.port}"></property>
		<property name="namespace" value="${redis.namespace}"></property>
	</bean>
    
    <bean id="robot" class="com.biierg.spider.Robot" scope="prototype"/>

</beans>
